doctype html

html
  head
    title test
    meta(charset="utf-8")
  body
    #main
      .container
        .black(style="background-color: red; width: 100px; height: 100px")
        p FUCK YOUs
    script(src="./scripts/zQuery.js")
    script(src="./scripts/main.js")
